* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  scrollbar-width: none;
  color-scheme: dark;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader {
  position: fixed;
  background-color: #160e0e;
  border-radius: 50%;
  left: -50%;
  top: -50%;
  height: 200vh;
  width: 200%;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0%);
}
.preloader #page-name {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: xxx-large;
  z-index: 10001;
  user-select: none;
}
.preloader #page-name::before {
  content: "";
  position: relative;
  height: 20px;
  width: 20px;
  top: 15%;
  left: 50%;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
  user-select: none;
}

html {
  margin: 0;
  min-height: 100%;
}
body {
  min-height: 100vh;
  width: 100vw;
  background-color: #160e0e;
  margin: 0;
  overflow-x: hidden;
  display: inline-block;
  font-family: "Lato";
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow-y: hidden;
  align-items: center;
  justify-content: space-between;
}

#image-track {
  position: static;
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: 0;
  gap: 4vmin;
  margin-top: 0;
  overflow: auto;
  transform: translate(0%, 0%);
}

#image-track > a > .interactable {
  width: 40vmin;
  height: 56vmin;
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: cover;
  opacity: 0.4;
  transition: transform 400ms ease, opacity 400ms ease;
}
#image-track > a > .interactable:hover {
  transform: scale(1.1);
  opacity: 1;
}
.snaps-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  scroll-snap-type: inline mandatory;
}

.fill-text {
  color: transparent;
  font-size: 20vw;
  font-family: "cardo", serif;
}
.biography-container {
  padding: 40px;
  /* border: solid red 2px; */
}
.avatar-container {
  /* border: solid white 1px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-container img {
  width: 40vmin;
  height: 40vmin;
  border-radius: 50%;
}
.description-container {
  padding: 30px;
  margin: auto 20px;
}
.description-container #general-info {
  border-bottom: solid white 1px;
  border-top: solid white 1px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.description-container #historical-info {
  border-bottom: solid white 1px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.video-list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.video-container {
  position: relative;
}
.cursor-warpper {
  display: none;
}
/* Tablet */
@media only screen and (min-width: 772px) {
  html {
    margin: 0;
    min-height: 100%;
  }
  body {
    min-height: 100vh;
    width: 100vw;
    background-color: #160e0e;
    margin: 0;
    overflow-x: hidden;
    display: inline-block;
    font-family: "Lato";
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  body:hover > .cursor-warpper .cursor {
    opacity: 1;
  }
  body:hover > .cursor-warpper .cursor-border {
    opacity: 1;
  }

  main {
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-between;
  }
  .cursor-warpper {
    display: none;
  }

  .cursor-warpper {
    display: none;
  }

  #image-track {
    position: absolute;
    display: flex;
    gap: 4vmin;
    left: 50%;
    transform: translate(0%, -50%);
    margin-top: 30vmin;

    overflow: hidden;
    overscroll-behavior-inline: contain;
    user-select: none;
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    padding-top: 50vmin;
  }
  .snaps-inline > * {
    scroll-snap-align: start;
    scroll-padding-inline: var(--_spacer, 1rem);
  }
  .skip-content {
    display: none;
  }
}
/* Desktop */
@media only screen and (min-width: 992px) {
  html {
    margin: 0;
    min-height: 100%;
  }
  body {
    min-height: 100vh;
    width: 100vw;
    background-color: #160e0e;
    margin: 0;
    overflow-x: hidden;
    display: inline-block;
    font-family: "Lato";
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  body:hover > .cursor-warpper .cursor {
    opacity: 1;
  }
  body:hover > .cursor-warpper .cursor-border {
    opacity: 1;
  }

  main {
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-between;
  }

  .cursor {
    --circle-size: 10px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    background-color: white;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);

    z-index: 10001;
    cursor: wait !important;
    opacity: 0;
    transition: opacity 300ms ease;
    pointer-events: none;

    display: grid;
    place-items: center;
  }

  .cursor-border {
    --circle-size: 30px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 0.05px solid white;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);

    z-index: 10000;
    /* cursor: wait !important; */
    opacity: 0;
    transform: none;
    transition: opacity 300ms ease;
    pointer-events: none;
  }

  #cursor-icon {
    display: block;
    font-size: 9px;
    line-height: 4px;
    opacity: 0;
    color: #160e0e;
    transition: opacity 200ms ease;
  }

  .cursor:not([data-type=""]) > #cursor-icon {
    opacity: 1;
  }
  .interactable:not([data-type=""]):hover{
    transform: scale(1.1);
  } 
  #image-track {
    position: absolute;
    display: flex;
    gap: 4vmin;
    left: 50%;
    transform: translate(0%, -50%);
    margin-top: 30vmin;

    overflow: hidden;
    overscroll-behavior-inline: contain;
    user-select: none;
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    padding-top: 50vmin;
  }
  .snaps-inline > * {
    scroll-snap-align: start;
    scroll-padding-inline: var(--_spacer, 1rem);
  }
  .interactable {
    transition: transform 400ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .skip-content {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    padding: 0.5rem;
    translate: 0 -100%;
    transition: translate 100ms ease-in-out;
    text-decoration: none;
  }
  .skip-content:focus {
    translate: 0;
  }
  .cursor-warpper {
    display: block;
  }
  .video-list-container {
    display: flex;
    justify-content: center;
    flex-direction: unset;
    align-items: center;
    gap: 5%;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 1ms !important;
    transition-delay: 1ms !important;
  }
  #image-track > a > .interactable {
    transition: none !important;
  }
  .cursor {
    transform: none;
    transition: none !important;
  }
  .cursor-border {
    transform: none;
    transition: none !important;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }

  body {
    background-color: white;
  }
  .cursor {
    background-color: #160e0e;
  }

  .cursor-border {
    border: 0.05px solid #160e0e;
  }
  #cursor-icon {
    color: white;
  }
  #image-track > a > .interactable {
    opacity: 1;
  }
  .interactable:hover {
    opacity: 1;
  }
}
